<launch>
    <arg name="input_image_topic" default="front_camera/color/image_raw"/>

    <node name="mp_testing" pkg="pamaral_models" type="mp_testing.py" output="screen">
        <param name="input_image_topic" value="$(arg input_image_topic)"/>
    </node>

    <!-- Action Servers for Mediapipe Models -->
    <node name="hands_model_mediapipe" pkg="pamaral_models" type="hands_model_mediapipe.py" output="screen"/>
    <node name="pose_model_mediapipe" pkg="pamaral_models" type="pose_model_mediapipe.py" output="screen"/>

    <include file="$(find pamaral_models)/launch/points_preprocessing.launch"/>

    <node name="dataset_processing" pkg="pamaral_models" type="dataset_processing.py" output="screen">
        <param name="input_folder" value="$(find data)/bag_files/mp_metrics/chosen"/>
        <param name="output_folder" value="$(find data)/delete_this"/>
    </node>

</launch>