<launch>
    <arg name="input_image_topic" default="camera/color/image_raw"/>

    <node name="right_hand_keypoints_detection" pkg="pamaral_models" type="right_hand_keypoints_detection.py" output="screen">
        <param name="input_image_topic" value="$(arg input_image_topic)"/>
    </node>

    <!-- Action Servers for Mediapipe Models -->
    <node name="hands_model_mediapipe" pkg="pamaral_models" type="hands_model_mediapipe.py" output="screen"/>
    <node name="pose_model_mediapipe" pkg="pamaral_models" type="pose_model_mediapipe.py" output="screen"/>
</launch>