<launch>
    <!--Color Camera-->
    <remap from="/usb_cam/image_raw" to="/camera/color/image_raw"/>

    <include file="$(find pamaral_perception_block)/launch/usb_cam.launch">
        <arg name="image_view" value="false" />
    </include>

    <!--Depth and IR Camera-->
    <remap from="/camera/color/image_raw" to="/_"/>

    <include file="$(find astra_camera)/launch/astra_pro.launch">
        <arg name="enable_color" value="false"/>
        <arg name="use_uvc_camera" value="false"/>
    </include>
</launch>