<launch>
    <!--launch files for robot drivers, controllers and planner-->
    <include file="$(find larcc_launches)/ur10e_control/script_control_ur10e.launch"/>

    <!--launch file for communicating with an orbbec pro camera-->
    <include file="$(find pamaral_perception_block)/launch/orbbec_camera.launch"/>

    <!--launch file to locate human using the depth images-->
    <include file="$(find pamaral_depth_image_processing)/launch/human_locater.launch"/>

    <!--launch file to color image preprocessing-->
    <include file="$(find pamaral_color_image_processing)/launch/image_preprocessing.launch"/>

    <!--launch file to locate objects using the color images-->
    <include file="$(find pamaral_color_image_processing)/launch/object_color_segmenter.launch">
        <arg name="colors" value="green;red;light_blue;dark_blue;white;yellow;orange;violet"/>
    </include>

    <!-- Launch file to visualize details of the system using rviz -->
    <include file="$(find pamaral_visualization)/launch/visualization.launch"/>

    <!-- Database node -->
    <include file="$(find pamaral_decision_making_block)/launch/database.launch"/>

    <!--launch file for the decision making block-->
    <!-- <include file="$(find pamaral_decision_making_block)/launch/decision_making_block.launch"/> -->
</launch>